@import "slider.styl"
@import "filter.styl"

.s-category-main
  padding-top: 0

.category
  &__header
    display: flex
    align-items: center
    margin-bottom: 20px
    @media screen and (max-width: phoneSize)
      flex-wrap wrap
    .title-page
      margin-bottom: 0
      @media screen and (max-width: phoneSize)
        flex 0 0 100%
        margin-bottom: 25px
        width: 100%

    & > *
      margin-right: 10px
      &:last-child
        margin-right: 0

  &__sort
    margin-left:auto
    min-width: 250px
    @media screen and (max-width: phoneSize)
      min-width: 170px

  &__body
    align-items: flex-start
    display: flex

  &__filter
    flex: 0 0 255px
    width: 255px
    margin-right: 30px

  &-main
    flex 1
    width: 100%