.products-line-slider
    .js-products-line-slider
        include ../../../modules/products/prev-2
        include ../../../modules/products/prev-3
        include ../../../modules/products/prev-3
        include ../../../modules/products/prev-4
        include ../../../modules/products/prev-1
    .products-line-slider__navigation
        .products-line-slider__btn.products-line-slider__btn--prev
            +icon('left-chevron', 'products-line-slider__icon')
        .products-line-slider__dots
        .products-line-slider__btn.products-line-slider__btn--next
            +icon('right-chevron', 'products-line-slider__icon')
