// Шапка
@import 'header/header.styl'

// Футера
@import 'footer/footer.styl'

// Навигация
@import 'navigation/navigation.styl'

//Кнопки
@import "buttons/buttons.styl"

//Заголовки
@import "titles/titles.styl"

@import "small-blocks/small-block.styl"

@import "search/search.styl"

@import "banner/banner.styl"
@import "tabs/tabs.styl"
@import "product/product.styl"
@import "information/information.styl"
@import "category/category.styl"