extends ../layout/main

block variables
    - var title = 'Страница категории'
    - var pageClass = 'сategory-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link
                        |   Главная
                li.breadcrumbs__item
                    a(href="brands.html").breadcrumbs__link
                        |   Каталог
                li.breadcrumbs__item
                    span.breadcrumbs__current
                        |   Беговелы
    include ../modules/category/slider
    .category
        .container
            .category__header
                h1.title-page
                    |   Беговелы
                .filter-mobile__toggle
                    span    Фильтры
                    +icon('right-chevron', 'filter-mobile__toggle-icon')
                .category__sort
                    .select
                        .select__header.select__header--multi
                            span.select__description
                                |   Сортировать по:
                            span.select__current
                                |   популярности
                            +icon('down-chevron','select__icon')
                            .select__body
                                ul.select-list
                                    li.select-list__item
                                        |   цене
                                    li.select-list__item
                                        |   рейтингу
            .category__body
                aside.filter.category__filter
                    .filter-mobile__close
                        +icon('cancel', 'filter-mobile__close-icon')
                    include ../modules/category/filter
                main.category-main
                    section.s-category-main
                        .products-prev__wrapper.products-prev__wrapper--small
                            include ../modules/products/prev-1
                            include ../modules/products/prev-2
                            include ../modules/products/prev-3
                            include ../modules/products/prev-4
                            include ../modules/products/prev-1
                            include ../modules/products/prev-2
                            include ../modules/products/prev-3
                            include ../modules/products/prev-4
                            include ../modules/products/prev-1
                            include ../modules/products/prev-2
                            include ../modules/products/prev-3
                            include ../modules/products/prev-4
                        .pagination__wrapper
                            .pagination
                                a(href='').pagination__btn
                                    +icon('left-chevron', 'pagination__icon')
                                ul.pagination__list
                                    each i in [1,2,3,4,5]
                                        if(i===1)
                                            li.pagination__item.pagination__item--active
                                                a(href='').pagination__link= i
                                        else
                                            li.pagination__item
                                                a(href='').pagination__link= i
                                a(href='').pagination__btn
                                    +icon('right-chevron', 'pagination__icon')
                            .pagination__count
                                span.pagination__text
                                    |   Выводить по:
                                .select
                                    .select__header
                                        span.select__current
                                            |   12
                                        +icon('down-chevron','select__icon')
                    include ../modules/category/content
