extends ../layout/main

block variables
    - var title = 'Главная страница'
    - var pageClass = 'index-page'

block content
    include ../modules/banner/banner
    include ../modules/advantages/advantages
    include ../modules/hits/hits
    include ../modules/information/information
    include ../modules/about/about