
block variables
    - var title = 'Навигация по страницам'
    - var pageClass = 'nav-page'


    ul
        li
            a(href="index.html")
                | Главная страница
        li
            a(href="product.html")
                | Страница продукта
        li
            a(href="category.html")
                | Страница категории
        li
            a(href="brands.html")
                | Страница брендов
        li
            a(href="brand.html")
                | Страница бренда
        li
            a(href="static.html")
                | Статическая страница
        li
            a(href="search.html")
                | Страница поиска