extends ../layout/main

block variables
    - var title = 'Статическая страница'
    - var pageClass = 'static-page'

block content
    .breadcrumbs
        .container
            ul.breadcrumbs__list
                li.breadcrumbs__item
                    a(href="index.html").breadcrumbs__link
                        |   Главная
                li.breadcrumbs__item
                    span.breadcrumbs__current
                    |   О компании

    section.s-static
        .container
            h1.title-page
                |   О компании
            .content-block
                p.text
                    |   Интернет-магазин Toys занимается продажей зимнего и летнего
                    |   транспорта для детей и их родителей. Компания работает на рынке уже больше 15 лет.
                    |   За это время мы составили уникальный ассортимент товаров на любой вкус и кошелек.
                    |   От классических велосипедов и санок до оригинальных беговелов и, приобретающих все большую популярность, снегокатов!
                p.text
                    |   Активный отдых - важная составляющая жизни современного человека. Совместные прогулки с детьми, катание
                    |   на самокате или коньках повышает настроение, развивает силу и ловкость, и способствует дружескому общению.
                    |   Мы прекрасно понимаем это, поэтому предлагаем лучшие транспортные средства ведущих мировых производителей.
                    |   Самые яркие, удобные, надежные и безопасные.
                h2.title-section
                    |   Наш ассортимент
                p.text
                    |   В каталог не попадают "случайные" товары. Мы сотрудничаем с известными во все мире производителями,
                    |   тщательно анализируем рынок и выставляем на продажу скейты, ролики, самокаты, беговелы, санки и снегокаты,
                    |   завоевашие положительные отклики у покупателей. Это транспортные средства легендарных брендов:
                .content-block__row
                    .content-block__col
                        ul
                            each brand in ['MICRO (Швейцария)','EXPLORE (Канада)','PUKY (Германия)','STIGA (Швеция)','HUDORA (Германия)','UNLIMITED (США)', 'SMILEY (КНР)']
                                li= brand
                    .content-block__col
                        ul
                            each brand in ['PANTHER (Германия)','KOKUA (Германия)','BULLS (Германия)','GLOBBER (Франция)','SCOOL(Германия)','SMART SCOO (Германия)']
                                li= brand
                p.text
                    |   Модели изготавливаются из высококачественных нетоксичных материалов по передовым технологиями.
                    |   Они функциональны, удобны и безопасны. Готовая продукция имеет устойчивую конструкцию. Но главное - многочисленные
                    |   восторженные отзывы ездоков и их родителей - тех, кто уже успел опробовать транспорт на собственном опыте.
                    |   Все товары сертифицированы, на них предоставляется гарантия с возможностью обслуживания в сервисном центре.
                h4.title-small
                    |   Причины выбрать Toys
                ul
                    li
                        |   Огромный обновляемый ассортимент. На сайте в удобном электронном каталоге представлены роликовые и ледовые
                        |   коньки, санки, скейтборды, самокаты, велосипеды, снегокаты, беговелы и многое другое.
                    li
                        |   Уверенность в качестве. Мы продаем только фирменные товары с сертификатами и предоставляем на них гарантию.
                    li
                        |   Квалифицированный персонал. Здесь работают знатоки своего дела, которые любят профессию и прекрасно разбираются в особенностях
                        |   представленного товара. В магазине всегда можно получить совет по выбор, информацию о характеристиках и особенностях
                        |   в эскплуатации заинтересовавшей модели.
                    li
                        |   Привлекательная стоимость и регулярные распродажи для дополнительной выгоды. Для оптовиков - специальные условия заказа.
                    li
                        |   Курьерская доставка по Минску уже в день покупки, а также отправление товаров в области.
                    li
                        |   Собственный сервисный центр. Не нужно искать мастера, наши специалисты произведут все необходимые
                        |   работы по ремонту или замене деталей на высшем уровне.
                h4.title-small
                    |   Как с нами связаться?
                p.text
                    |   Задать вопросы о покупке можно прямо на сайте - через онлайн-форму внизу окна. Кроме того, специалисты
                    |   готовы дать консультацию по телефону 8(029)375-58-92. Также можно заказать обратный звонок, указав в комментарии
                    |   удобное время для общения со специалистом.
                p.text
                    |   Тех, кто считает, что лучше "один раз увидеть", мы приглашаем в наш розничный магазин:
                    br
                    b м. Кукуево, проспект Васильков, д. 11, к. 2, ТЦ "ГОРА", 1 этаж, пав.№ 34
                .content-block__row
                    .content-block__col
                        h4.title-small
                            |   Сертификаты
                        img(src="http://via.placeholder.com/255x370" alt="Сертификат").content-block__img
                    .content-block__col
                        h4.title-small
                            |   Юридические данные
                        ul.no-dots
                            li Юридические данные:
                            li ООО "Спорт-Юность"
                            li ИНН: 7283950684
                            li ОГРН: 54646373992932
                            li Юридический адрес: 22053 г. Минск, ул. Эдакого, д.32
    include ../modules/advantages/advantages
