@font-face
  font-family 'OpenSans'
  src local('OpenSansLight'),
  url('../fonts/OpenSansLight/OpenSans-Light.ttf') format('truetype');
  font-weight 300
  font-style normal

@font-face
  font-family 'OpenSans'
  src local('OpenSansRegular'),
  url('../fonts/OpenSansRegular/OpenSans-Regular.ttf') format('truetype');
  font-weight 400
  font-style normal

@font-face
  font-family 'OpenSans'
  src local('OpenSansSemiBold'),
  url('../fonts/OpenSansSemiBold/OpenSans-SemiBold.ttf') format('truetype');
  font-weight 600
  font-style normal

@font-face
  font-family 'OpenSans'
  src local('OpenSansBold'),
  url('../fonts/OpenSansBold/OpenSans-Bold.ttf') format('truetype');
  font-weight 700
  font-style normal

