section.s-slider#l-same-goods
    .container
        .products-line-border-slider
            .products-line-border-slider__header
                h2.title-section
                    |   Похожие товары
                .products-line-border-slider__navigation
                    .products-line-border-slider__btn.products-line-border-slider__btn--prev
                        +icon('left-chevron','products-line-border-slider__icon')
                    .products-line-border-slider__btn.products-line-border-slider__btn--next
                        +icon('right-chevron','products-line-border-slider__icon')
            .products-line-border-slider__body
                .js-products-line-border-slider
                    include ../../modules/products/prev-1
                    include ../../modules/products/prev-2
                    include ../../modules/products/prev-3
                    include ../../modules/products/prev-4
