.product-slider
    .product-slider-dots
        .product-slider-dots__btn.product-slider-dots__btn--prev
            +icon('up-chevron','product-slider-dots__btn-icon')
        .js-product-slider-dots
            .product-slider-dots__item
                img(src="static/img/content/products/product-1/prev.png" alt='Превью картинки продукта').product-slider-dots__img
            .product-slider-dots__item
                img(src="static/img/content/products/product-2/prev.png" alt='Превью картинки продукта').product-slider-dots__img
            .product-slider-dots__item
                img(src="static/img/content/products/product-3/prev.png" alt='Превью картинки продукта').product-slider-dots__img
            .product-slider-dots__item
                img(src="static/img/content/products/product-1/prev.png" alt='Превью картинки продукта').product-slider-dots__img
        .product-slider-dots__btn.product-slider-dots__btn--next
            +icon('down-chevron','product-slider-dots__btn-icon')
    .js-product-slider
        .product-slider__img-wrapper
            img(src="static/img/content/products/product-1/prev.png" alt='Картинка продукта').product-slider__img
        .product-slider__img-wrapper
            img(src="static/img/content/products/product-2/prev.png" alt='Картинка продукта').product-slider__img
        .product-slider__img-wrapper
            img(src="static/img/content/products/product-3/prev.png" alt='Картинка продукта').product-slider__img
        .product-slider__img-wrapper
            img(src="static/img/content/products/product-1/prev.png" alt='Картинка продукта').product-slider__img
