section.s-banner
    .container
        .banner
            .banner__navigation.banner__navigation--prev
                +icon('left-chevron', 'banner__navigation-icon')
            .banner__navigation.banner__navigation--next
                +icon('right-chevron', 'banner__navigation-icon')
            .banner__dots
            .js-banner
                each i in [1,2,3]
                    .banner__item
                        .banner__content
                            .banner__body
                                span.banner__title
                                    | Беговелы
                                span.banner__descr
                                    | Отличный подарок для детей от 1 года
                                a(href="#").btn.btn--transparent--white.btn--round.btn--inline
                                    | Выбрать
                            .banner__img-wrapper
                                img(src='static/img/content/banner/banner.png' alt='Picture').banner__img
