.news-prev
  display flex
  align-items flex-start
  color mine-shaft
  margin-bottom 40px
  &:last-child
    margin-bottom 0
  &__img
    size(80px)
    background-size cover
    border-radius 4px
    margin-right 20px
    flex-shrink 0
  &__title
    display block
    margin-right 10px
  &__date
    color oslo-gray
    font-size 12px