.mobile-user-nav
  display none
  margin-left auto
  @media screen and (max-width: phoneSize)
    display block
  &__list
    display flex
    align-items center
  &__item
    margin-right 5px
    &:last-child
      margin-right 0
  &__link
    size(40px)
    align-items center
    display flex
    justify-content center
  &__icon
    size(20px)
    fill blaze-orange