.main-nav__dropdown-wrapper
    .main-nav__dropdown
        ul.catalog-nav__list
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Взрослые самокаты
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Детские самокаты
                    +icon('right-chevron', 'catalog-nav__icon')
                ul.catalog-nav__list
                    li.catalog-nav__item
                        a(href="").catalog-nav__link
                            span.catalog-nav__text
                                |   Детские двухколесные самокаты
                    li.catalog-nav__item
                        a(href="").catalog-nav__link
                            span.catalog-nav__text
                                |   Детские трехколесные самокаты
                    li.catalog-nav__item
                        a(href="").catalog-nav__link
                            span.catalog-nav__text
                                |   Детские самокаты с большими колесами
                    li.catalog-nav__item
                        a(href="").catalog-nav__link
                            span.catalog-nav__text
                                |   Детские самокаты с надувными колесами

            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Городские самокаты
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Складные самокаты
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Трюковые самокаты
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Электросамокаты
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Самокаты с двумя амортизаторами
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Самокаты Globber
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Самокаты Micro
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Самокаты от года
                    +icon('right-chevron', 'catalog-nav__icon')
            li.catalog-nav__item
                a(href="").catalog-nav__link
                    span.catalog-nav__text
                        |   Самокаты Ruki
                    +icon('right-chevron', 'catalog-nav__icon')
