footer
  flex 0 0 auto

.footer
  background-color athens-gray

  &__navigation
    display flex
    align-items flex-start
    margin-bottom: 20px

    @media screen and (max-width: tabletSize)
      flex 1
      width 100%
      justify-content space-between
    @media screen and (max-width: phoneSize)
      flex-wrap wrap
      margin-bottom: 0

  &__main
    padding 40px 0
    .container
      align-items flex-start
      display flex
      @media screen and (max-width: tabletSize)
        flex-wrap wrap
  &__item
    display flex
    flex-direction column
    margin-right 130px
    max-width 215px

    @media screen and (max-width: tabletSize)
      flex 0 0 226px
      max-width 226px
      margin-right 0

    @media screen and (max-width: phoneSize)
      flex 0 0 45%
      width 45%
      margin-bottom 20px
      max-width 100%
      font-size 12px

    &:last-child
      margin-right 0

    &.footer__item
      &--wide
        @media screen and (max-width: phoneSize)
          flex 1
          flex-direction row
          width 100%
          justify-content: space-between
        & > *
          @media screen and (max-width: phoneSize)
            flex 0 0 45%
            width 45%
            margin 0
      &--full
        @media screen and (max-width: phoneSize)
          flex 1
          flex-direction row
          width 100%
      &--text-right
        text-align right


    & > *
      margin 15px 0
      @media screen and (max-width: phoneSize)
        margin 5px 0
      &:first-child
        margin-top 0
      &:last-child
        margin-bottom 0

  &-nav
    &__item
      margin-bottom 10px
      &:last-child
        margin-bottom 0
    &__link
      color mine-shaft
      &:hover
        text-decoration underline

  &__bottom
    background-color rgba(0,0,0,0.05)
    padding 20px 0

    .container
      display flex
      justify-content space-between
      align-items flex-start
      @media screen and (max-width: tabletSize)
        font-size 12px
        line-height 1.67
      @media screen and (max-width: phoneSize)
        flex-direction column
        align-items center
        text-align center
      & > *
        @media screen and (max-width: tabletSize)
          flex 0 0 45%
          width 45%
        @media screen and (max-width: phoneSize)
          flex 1
          width 100%
  &__personal-data
    color oslo-gray
    text-align right
    @media screen and (max-width: phoneSize)
      margin-top 10px


  &__socials
    background-color athens-gray
    padding-bottom 30px
    .container
      display flex
      align-items center

    .yandex-market
      @media screen and (max-width: tabletSize)
        display none

  &__contacts
    margin-left auto
    text-align right
    @media screen and (max-width: tabletSize)
      display none
    &-mobile
      display none
      @media screen and (max-width: tabletSize)
        display flex
        width 100%
        justify-content space-between
      @media screen and (max-width: phoneSize)
        flex-wrap wrap

  &__phones
    display flex
    flex-direction column
    margin-bottom 20px
    & > *
      margin 4px 0
      &:first-child
        margin-top 0
      &:last-child
        margin-bottom 0

  &__phone
    font-size 20px
    font-weight 600
    color mine-shaft
    @media screen and (max-width: phoneSize)
      font-size 16px

  &__mail
    color mine-shaft

  &__address
    line-height 1.79

.socials
  display flex
  align-items center
  @media screen and (max-width: phoneSize)
    justify-content center
    width 100%
  &__item
    margin-right 50px
    &:last-child
      margin-right 0
  &__link
    display flex
    align-items center
    color oslo-gray
    & > *
      margin-right 20px
      @media screen and (max-width: phoneSize)
        margin-right 0
      &:last-child
        margin-right 0
  &__icon
    size(20px)
  &__name
    @media screen and (max-width: phoneSize)
      display none



.yandex-market
  display flex
  align-items center
  margin-left auto
  width 100%
  @media screen and (max-width: tabletSize)
    margin-left: 0
    align-items flex-start
    flex-direction column
    img
      margin-top -12px
  @media screen and (max-width: phoneSize)
    flex-direction row
    align-items center
    justify-content center
    width 100%

  img
    width 120px
  & > *
    margin-right 20px
    @media screen and (max-width: tabletSize)
      margin-right 0
      margin-bottom 10px
    @media screen and (max-width: phoneSize)
      margin-right 20px
      margin-bottom 0
    &:last-child
      margin-right 0

