section.s-information.s-light-bg
    .container
        .information
            .information-item
                .information-item__header
                    h2.title-section
                        | Новости
                .information-item__body
                    .news-prev__wrapper
                        a(href="").news-prev
                            .news-prev__img(style="background-image: url(static/img/content/news/news-1/prev.jpg)")
                            .news-prev__body
                                span.news-prev__title
                                    | Выставка в Германии
                                span.news-prev__date
                                    | 13 июля 2018
                        a(href="").news-prev
                            .news-prev__img(style="background-image: url(static/img/content/news/news-2/prev.jpg)")
                            .news-prev__body
                                span.news-prev__title
                                    | Новинки в нашем магазине
                                span.news-prev__date
                                    | 2 июля 2018
                .information-item__footer
                    a(href="").information-item__link
                        | Все новости
            .information-item
                .information-item__header
                    h2.title-section
                        | Отзывы
                .information-item__body
                    .review-prev
                        p.review-prev__text
                            | Заказали на вашем сайте в начале мая двухколесный велосипед Puky для дочки.
                            | Очень довольны покупкой! Ребенок катается на нем с большим удовольствием!
                            | Сам по себе велосипед замечательный и посадка у него низкая и ход педалей мягкий.
                            | Порадовала быстрая доставка, курьер привез велосипед в день заказа.
                        span.review-prev__author
                            | Антон
                .information-item__footer
                    a(href="").information-item__link
                        | Все отзывы
            .information-item.information-item--wide
                .information-item__header
                    h2.title-section
                        | Бренды
                .information-item__body
                    .brands__wrapper
                        .mobile-scroll-wrapper
                            .mobile-scroll-inner
                                ul.brands__list-small
                                    each brand in [{img: 'puky.jpg', name: 'PUKY'}, {img: 'hudora.jpg', name: 'HUNDORA'}, {img: 'merida.jpg', name: 'Merida'}, {img: 'micro.jpg', name: 'Micro'}, {img: 'scool.jpg', name: 'SCOOL'},  {img: 'strider.jpg', name: 'Strider'}]
                                        li.brands__item
                                            a(href="").brand
                                                img(src="static/img/content/brands/" + brand.img).brand__img
                                                span.brand__name=brand.name

                .information-item__footer
                    a(href="").information-item__link
                        | Все бренды
                    span.information-item__count
                        | (9)