.content-block
    h2.title-section
        |   Описание
    p.product__text
        |   Яркий и безопасный беговел Puky Pukylino создан для самых маленьких ещдоков. Уникальный беговел-каталка знаметого немецкого бренда помогаетя улучшить координацию движений и чувство равновесия. Стимулирует развитие двигательных функция, приучает малыша к самостоятельности и готовит к освоению более "сложного" транспорта в будущем. Модель очень устойчива за счет наличия 4 колес и имеет небольшой вес - всего 2,65 кг. Яркая расцветка заряжает позитивом и нравится юным исследователям!
    h4.title-small
        |   Особенности
    ul.product-list
        each item in ['Четыре варианта расцветки на выбор.', 'Максимально допустимый вес ездока - 20 кг.','Четыре крупных бесшумных колеса','Легкость управления.', 'Алюминиевый корпус.', 'Улобные не скользящие ручки с расширением по краям.', 'Размеры модели - 51х26х22 см.', 'Спроектирован и изготовлен в Германии.', 'Гарантия на транспортное средство - 2 года.']
            li.product-list__item= item
    p.product-info__text
        |   Возьмите с собой на прогулку красивый беговел. Сын или дочка будут кататься и с любопытством изучать окружающий мир!