.product-prev
  padding 20px
  padding-top 190px
  position relative
  transition all linear .3s
  outline none
  border 1px solid alto
  border-radius 2px
  &:hover
    box-shadow 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.05)
  &__header
    top 20px
    left 20px
    right 20px
    position absolute
    max-height 160px

  &__img
    max-width 100%
    height 160px
    margin  0 auto
    &-wrapper
      outline none
  &__title
    font-weight 600
    line-height 1.43
  &__info
    display flex
    flex-direction column
    position absolute
    top 0
    left 0
    right 0

  &__body
    position relative
    padding-top 90px
    margin-bottom 20px
  &__price
    align-items baseline
    display flex
    margin-bottom 20px
    & > *
      margin-right 10px
      &:last-child
        margin-right 0
    &-current
      color blaze-orange
      font-size 20px
      font-weight 600
    &-old
      font-size 13px
      text-decoration line-through
      color tundora
  &__colors
    .slick-dots
      display flex
      li
        border 1px solid transparent
        border-radius 2px
        padding 2px
        &.slick-active
          border-color tundora

  &__color
    size(20px)
    display block
    outline none
    &.product-prev__color--white
      border 1px solid alto

.products-prev__wrapper
  display: flex
  flex-wrap: wrap
  &.products-prev__wrapper
    &--small
      & > *

        max-width calc(35% \- 30px)
        min-width: 30%
        @media screen and (max-width: phoneSize)
          flex 0 0 100%
          margin-right: 0
          max-width: 100%

        &:nth-child(4n+4)
          margin-right: 30px
          @media screen and (max-width: phoneSize)
            margin-right: 0
        &:nth-child(3n+3)
          margin-right: 0
          @media screen and (max-width: tabletSize)
            margin-right: 0

  & > *
    flex 1
    margin-right: 30px
    margin-bottom: 30px
    min-width: 20%
    max-width calc(26% \- 30px)

    @media screen and (max-width: tabletSize)
      min-width: 30%
      max-width calc(34% \- 30px)

    @media screen and (max-width: phoneSize)
      flex 0 0 100%
      margin-right: 0
      max-width: 100%

    &:nth-child(4n+4)
      margin-right: 0

      @media screen and (max-width: tabletSize)
        margin-right: 30px

      @media screen and (max-width: phoneSize)
        margin-right: 0
    &:nth-child(3n+3)
      @media screen and (max-width: tabletSize)
        margin-right: 0

