.product-prev
    .product-prev__header
        .js-product-prev__slider
            .product-prev__img-wrapper(data-color="lightgray")
                img(src="static/img/content/products/product-1/prev.png" alt="Picture").product-prev__img
            .product-prev__img-wrapper(data-color="green")
                img(src="static/img/content/products/product-4/prev.png" alt="Picture").product-prev__img
            .product-prev__img-wrapper(data-color="brown ")
                img(src="static/img/content/products/product-3/prev.png" alt="Picture").product-prev__img
    .product-prev__body
        .product-prev__info
            span.product-prev__title
                | Беговел Puky Pukylino
            span.product-prev__country
                | Германия
        .product-prev__price
            span.product-prev__price-current
                | 3990 руб
            span.product-prev__price-old
                | 3990 руб
        .product-prev__colors
    .product-prev__footer
        button.btn
            | В корзину