mixin footerNavLink(link, text)
    li.footer-nav__item
        a(href=link ).footer-nav__link=text

footer.footer
    .footer__main
        .container
            .footer__navigation
                .footer__item
                    ul.footer-nav
                        +footerNavLink('','Самокаты')
                        +footerNavLink('','Беговелы')
                        +footerNavLink('','Велосипеды')
                        +footerNavLink('','Роликовые коньки')
                        +footerNavLink('','Скейты')
                        +footerNavLink('','Батуты')
                        +footerNavLink('','Детский спорт и отдых')
                        +footerNavLink('','Аксессуары и запчасти')
                .footer__item
                    ul.footer-nav
                        +footerNavLink('','О компании')
                        +footerNavLink('','Доставка')
                        +footerNavLink('','Оплата')
                        +footerNavLink('','Поставщикам')
                        +footerNavLink('','Новости')
                        +footerNavLink('','Отзывы')
                .footer__item.footer__item--wide
                    ul.footer-nav
                        +footerNavLink('','Контакты')
                        +footerNavLink('','Вопросы и ответы')
                        +footerNavLink('','Карта сайта')
                    span.footer__address
                        | Москва, проспект Андропова, д. 11, к. 2, павильон № 1/2
            .footer__contacts
                .footer__phones
                    a(href="tel:88007077512").footer__phone
                        | 8 (800) 707-75-12
                    span.footer__text
                        | Звонок бесплатный
                    span.footer__text
                        | +7 (495) 120-20-36
                a(href="mailto:toys@gmail.com").footer__mail
                    | toys@gmail.com
            .footer__contacts-mobile
                .footer__item
                    a(href="tel:88007077512").footer__phone
                        | 8 (800) 707-75-12
                    span.footer__text
                        | Звонок бесплатный
                .footer__item.footer__item--text-right
                    span.footer__text
                        | +7 (495) 120-20-36
                    a(href="mailto:toys@gmail.com").footer__mail
                        | toys@gmail.com
                .footer__item.footer__item--full
                    .yandex-market
                        img(src="static/img/general/market.svg" alt="" )
                        a(href="").btn.btn--small.btn--transparent-gray.btn--inline
                            | Оставить отзыв
    .footer__socials
        .container
            ul.socials
                li.socials__item
                    a(href="#").socials__link
                        img(src="static/img/general/instagram.svg" alt="").socials__icon
                        span.socials__name
                            | Instagram
                li.socials__item
                    a(href="#").socials__link
                        img(src="static/img/general/facebook.svg" alt="").socials__icon
                        span.socials__name
                            | Facebook
                li.socials__item
                    a(href="#").socials__link
                        img(src="static/img/general/vk.svg" alt="").socials__icon
                        span.socials__name
                            | Vkontakte
                li.socials__item
                    a(href="#").socials__link
                        img(src="static/img/general/viber.svg" alt="").socials__icon
                        span.socials__name
                            | Viber
            .yandex-market
                img(src="static/img/general/market.svg" alt="")
                a(href="").btn.btn--small.btn--transparent-gray.btn--inline
                    | Оставить отзыв
    .footer__bottom
        .container
            span.copyright
                | © 2010-2018 "Toys".
                | Все права защищены. Информация сайта защищена законом об авторских правах.
            a(href="").footer__personal-data
                | Политика обработки персональных данных

.preloader
    #cube-loader
        .caption
            .cube-loader
                .cube.loader-1
                .cube.loader-2
                .cube.loader-4
                .cube.loader-3